.displayweather {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
}

  .weatherdetails{
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap:50px;
  
  }

  
  .section1 {
    justify-self: right;
    width: 300px;
  }